@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>About Device Tracker</p>
<p><a href="https://github.com/chris-yoon90/DeviceTrackerWeb" target="_blank">Website</a></p>
<p><a href="https://github.com/HuaXinChen/DeviceTracker" target="_blank">App</a></p>
