@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    PNI Digital Media Inc.<br />
    Suite 100, 425 Carrall St.<br />
    Vancouver, B.C, V6B 6E3<br />
    <abbr title="Phone">P:</abbr>
    604.893.8955
</address>

<address>
    <strong>Chris Yoon:</strong>   <a href="mailto:cyoon@pnimedia.com">cyoon@pnimedia.com</a><br />
    <strong>Eddie Feng:</strong> <a href="mailto:efeng@pnimedia.com">efeng@pnimedia.com</a><br />
    <strong>Victor Chen:</strong> <a href="mailto:vchen@pnimedia.com">vchen@pnimedia.com</a><br />
</address>